<div class="mx-auto max-w-4xl w-full leading-loose p-4">
  <h2>
    Editing Picture
  </h2>
  <%= render 'form', picture: @picture %>
</div>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
